.summary {
  width: 100%;
  height: 1023px;
  padding: 33.6px 0 192px;
  background-color: #000;
}
.main-header {
  font-size: 65px;
  font-family: Helvetica;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.content {
  color: #fff !important;
}

.sub-header {
  color: #fff;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.89;
  letter-spacing: normal;
  text-align: center;
}
.match-venue {
  margin-right: 10px;
  font-size: 20px;
}
